
*{
  font-family: 'Montserrat', sans-serif;
}
$primary-color: #fecb02;
$secondary-color: #050f1f;
$third-color: #717171;
$success-color: #62bfac;
$black: #000;
$white: #fff;
$body-color: #fafcff;
$avatar-size: 22px;
$height-nav-top: 75px;
$with-sidebar: 65px;
$shadow:1px 7px 10px 1px #f2eeee;
body ,p,div,h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
textarea:focus, input:focus{
  outline: none;
}

$arrow-down: "https://api.iconify.design/ic:sharp-keyboard-arrow-down.svg?color=000000";
.flex-row {
  display: flex;
  flex-direction: row;
  //width: 100%;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-main-center{
  justify-content: center;
}
.flex-cross-center{
  align-items: center;
}

.demo {
  border: 1px solid red;
}

.pointer {
  cursor: pointer;
}

.nav-header {
  height: $height-nav-top;
  color: $secondary-color;
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-header > div {
  padding: 1rem 2rem;
}

.nav-header-start {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.nav-header-end {
  justify-content: space-around;
  align-items: center;
  width: 170px;
}

.nav-header-end div:nth-child(1) {
  width: 60px;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
}

.avatar {
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  background: $black;
  color: $white;
  font-size: $avatar-size;
  font-weight: bold;
}

.arrow-down:after {
  content: url($arrow-down);
  width: 10px;
  top: 0;
  right: -16px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $with-sidebar;
  height: 100%;
  margin-top: $height-nav-top;
  background: $white;
  box-shadow: $shadow;
  align-items: center;
  visibility: hidden;
}

#sidebar ul {
  list-style: none;
  align-items: center;

}

#sidebar ul li {
  width: 100%;
  height: 55px;
}

#sidebar > div, #sidebar > ul {
  width: 100%;
}

#content-main {
  margin-left: $with-sidebar;
  margin-top: $height-nav-top;
  background: #fafcff;
  width: calc(100% - $with-sidebar);
  min-height: 800px
}

.sidebar-top {
  height: 90px;
  //background: red;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sidebar-top > div{
  justify-content: space-evenly;
  width: 100%;
}
.sidebar-top img.toggle-menu{
  position: absolute;
  right: 0;
  top: 11px;
  background: $success-color;
  border-radius: 50%;
}
.content-fluid{
  padding: 40px 20px;
}
.form-block{
  width: calc(100% - 40px);
  min-height: 300px;
  justify-content: center;
}
.form-layout-center{
  background: $white;
  min-width: 500px;
  width: 35%;
  min-height: 400px;
  box-shadow: $shadow;
  border: 1px solid #ddd;
  padding: 20px;
}

.h1{
 margin: 20px 0;
  font-size: 1.6rem;
}
.h2{
 margin: 8px 0;
  font-size: 1.2rem;
}

.form-group{
  margin-bottom: 10px;
}
.form-group:only-child{
  width: 100%;

}
.form-label{
  color: #1c2534;
  font-size: 0.9rem;
}
.form-control{
  border: solid 2px #f1f2f3;
  border-radius: 5px;
}
input.form-control{
  height: 40px;
  padding: 5px 20px;
  margin: 10px 0;
  width: calc(100% - 40px);
}
.row-haf{
  width: calc(50% - 10px);
  margin: 0 5px;
}
textarea.form-control{
  padding: 15px 20px;
  margin: 10px 0;
  line-height: 25px;
  width: calc(100% - 40px);
}
select.form-control{
  height: 55px;
  padding: 5px 20px;
  margin: 7px 0;
  //color: red;
  background: white;
  width: 100%;
}
input[type=file].form-control{
  display: none !important;
}
.layout-media-upload{
  height: 100px;
  border:1px dashed #717171;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  color: #061020;
}
.layout-media-upload img{
  height: 30px;
}
.layout-media-upload span{
  padding: 2px ;
}
.form-label-media{
  font-size: 12px;
}
.center-center-col{
  justify-content: center;
  align-items: center;
}
select.hide-arrow  {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.w-25{
  width: 25%;
}
.w-50{
  width: 50%;
}
.w-75{
  width: 75%;
}
.w-100{
  width: 100%;
}
.radio-group{
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.btn{
  border: none;
  background: transparent;
  width: 100%;
  border-radius: 5px;
  color: black;
  height: 60px;
  font-size: 1.0rem;
}
.btn:disabled{
  opacity: 0.6;
  cursor: pointer;
}
.btn-success{
  background: $success-color;
}

@media screen and (max-width: 640px){
  .form-layout-center{
    min-width: 250px;
    width: 100%;
  }
  .nav-header-end {
    justify-content: space-around;
    align-items: center;
    width: auto;
    flex-wrap: nowrap;
    padding-right: 2rem !important;
  }
  .avatar {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  .nav-header-start {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
  }
  .nav-header > div {
    padding: 1rem 0.3rem 1rem 1rem;
  }
  .arrow-down::after {
    top: 0;
    right: -16px;
  }
  .row-full-sm{
     width: calc(100% );
     margin: 0 ;
   }
}
