

input[type="radio"] {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 5px;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}


input[type="radio"]:checked {
  box-shadow: 0 0 0 1px $success-color;
  background-color: $success-color;
  border-width: 0.4rem;
  border-color: #fff ;
}


input[type="radio"]:hover {
  outline-color: var($success-color);
}

input[type="radio"]:checked {
  outline-color: var($success-color);
  background-color: var($success-color);
  animation: outline-checked;
  animation-duration: 0.1s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes outline-checked {
  0% {
    outline-offset: 0;
  }

  100% {
    outline-offset: -0.2rem;
  }
}

