<div class="flex-row form-block content-fluid ">
  <div class="form-layout-center">
     <h2 class="h1">
       Create program
     </h2>
      <div class="flex-col">
        <h2 class="h2">
          Overview
        </h2>
        <div class="form-group flex-col">
          <label class="form-label" for="title">Programs Title</label>
          <input class="form-control" type="text" name="title" id="title" placeholder="Ex: Front-end development 101">
        </div>
        <div class="form-group flex-col">
          <label class="form-label" for="lang">Programs Langage</label>
          <select class="form-control"  name="lang" id="lang" >
            <option value="English">English</option>
            <option value="English">Frensh</option>
            <option value="English">Italiano</option>
          </select>
        </div>
        <div class="form-group flex-col">
          <label class="form-label" for="title">Programs Levels</label>
          <div class="flex-row">
            <div class="flex-row radio-group">
              <input class="form-control" type="radio" name="programs" id="level" >
              <label class="form-label" for="level">Benenner</label>
              <input class="form-control" type="radio" name="programs" id="Itermediate" >
              <label class="form-label" for="level">Itermediate</label>
              <input class="form-control" type="radio" name="programs" id="Advanced" >
              <label class="form-label" for="level">Advanced</label>
            </div>
          </div>
        </div>
        <div class="form-group flex-col">
          <label class="form-label" for="title">Programs Type</label>
          <div class="flex-row">
            <div class="flex-row radio-group">
              <input class="form-control" type="radio" name="programsType" id="Foundation" value="Foundation">
              <label class="form-label" for="Foundation">Foundation</label>
              <input class="form-control" type="radio" name="programsType" id="Specialization" value="Specialization" >
              <label class="form-label" for="Specialization">Specialization</label>
            </div>
          </div>
        </div>
        <h2 class="h2">
          Details
        </h2>

        <div class="form-group flex-col">
          <label class="form-label" for="programs-title">Programs Title</label>
          <textarea class="form-control" rows="5" name="programs-title" id="programs-title" placeholder="Type your description here..."></textarea>
        </div>

        <div class="form-group flex-col">
          <label class="form-label" for="learning-objectives">Learning Objectives</label>
          <textarea class="form-control" rows="5" name="learning-objectives" id="learning-objectives" placeholder="Type what students will learn here..."></textarea>
        </div>

        <div class="form-group flex-row">
          <div class="form-group flex-row row-haf row-full-sm">
            <label class="form-label" for="duration">Duration (weeks)</label>
            <input min="1" value="1" class="form-control" type="number" name="duration" id="duration" placeholder="Ex: 1">
          </div>
          <div class="form-group flex-row row-haf row-full-sm">
            <label class="form-label" for="hours">Hours per week (weeks)</label>
            <input class="form-control" type="number" name="hours" id="hours" placeholder="Ex: 8">
          </div>
        </div>
        <div class="form-group flex-row ">
          <label class="form-label" for="Prerequisite">Prerequisite </label>
          <input class="form-control" type="text" name="Prerequisite" id="Prerequisite" placeholder="Ex: Knowledge on Angular JS">
        </div>
        <div class="form-group flex-row">
          <div class="form-group flex-row row-haf row-full-sm">
            <label class="form-label" for="type-cert">Type Of Certification</label>
            <select class="form-control hide-arrow "  name="type-cert" id="type-cert" >
              <option selected value="1">Certificate of Completion</option>
              <option selected value="2">Certificate of Completion 2</option>
              <option selected value="3">Certificate of Completion 3</option>
              <option selected value="4">Certificate of Completion 4</option>
            </select>
          </div>
          <div class="form-group flex-row row-haf row-full-sm">
            <label class="form-label" for="start-date">Start Date</label>
            <input class="form-control" type="date" value="2022-02-24" name="start-date" id="start-date" placeholder="Ex: 12/02/2022">
          </div>
        </div>
        <h2 class="h2">
          Details
        </h2>
        <div class="form-group flex-row">
          <div class="form-group flex-row row-haf row-full-sm">
            <label class="form-label-media" for="images">Program Cover Image(Optional)</label>
            <input (change)="uploadImage($event)" #image  class="form-control" type="file" name="images" id="images" placeholder="">
            <div (click)="image.click()" class="layout-media-upload flex-col center-center-col">
              <img src="assets/images/media.png" alt="image">
              <span>Format: mp4, mov</span>
              <span>Max size: 500 mB</span>
            </div>
          </div>
          <div class="form-group flex-row row-haf row-full-sm">
            <label class="form-label-media" for="video">Video Thumbnail(Optional)</label>
            <input (change)="uploadVideo($event)" #video  class="form-control" type="file" name="video" id="video" placeholder="">
            <div (click)="video.click()" class="layout-media-upload flex-col center-center-col">
              <img  src="assets/images/media.png" alt="video">
              <span>Format: jpg, png, ico</span>
              <span>Max size: 100 KB</span>
            </div>
          </div>
        </div>

        <div class="form-group flex-row">
        <button class="btn btn-success" disabled>CREATE PROGRAM</button>
        </div>
      </div>
     </div>
</div>
