<nav class="flex-row nav-header">
   <div class="nav-header-start">
     EDACY
   </div>
  <div class="flex-row nav-header-end">
     <div class="flex-row">
       <img src="https://api.iconify.design/material-symbols:language.svg?color=000000" alt="">
       <span>EN</span>
       <img class="pointer" src="https://api.iconify.design/ic:sharp-keyboard-arrow-down.svg?color=000000" alt="">
     </div>
     <div class="flex-row" style="position: relative">
       <span class="avatar arrow-down">A</span>
     </div>
  </div>
</nav>

<nav id="sidebar" class="flex-col">
  <div class="sidebar-top flex-col">
    <img src="https://api.iconify.design/ic:sharp-keyboard-arrow-right.svg?color=%23FFFFFF" class="toggle-menu"  alt=""/>
     <div class="flex-row">
       <img src="https://api.iconify.design/ic:sharp-keyboard-arrow-left.svg?color=%23000000" alt="">
       <span>
         Back
       </span>
     </div>
  </div>
  <ul class="flex-col">
    <li>
      <a href="">
        <img src="https://api.iconify.design/material-symbols:slow-motion-video.svg?color=%23fecb02" alt="">
      </a>
    </li>
    <li>
      <a href="">
        <img src="https://api.iconify.design/material-symbols:manage-accounts-outline-rounded.svg?color=fecb02" alt="">
      </a>
    </li>
    <li>
      <a href="">
        <img src="https://api.iconify.design/material-symbols:contact-emergency.svg?color=fecb02" alt="">
      </a>
    </li>
    <li>
      <a href="">
        <img src="https://api.iconify.design/material-symbols:star-rate.svg?color=%23000000" alt="">
      </a>
    </li>
  </ul>
</nav>

<section id="content-main" class="flex-col">
  <router-outlet></router-outlet>
</section>
